@model GhostHuntAR.Infrastructure.Models.LocalPasswordModel

<div class="nsm-change-password-div">

  @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new {id = "changePasswordForm"}))
  {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <table class="centered nsm-change-password-table">
      <tr>
        <td>
          @Html.LabelFor(m => m.OldPassword)
        </td>
        <td>
          @Html.EditorFor(m => m.OldPassword)
        </td>
      </tr>
      <tr>
        <td>
          @Html.LabelFor(m => m.NewPassword)
        </td>
        <td>
          @Html.EditorFor(m => m.NewPassword)
        </td>
      </tr>
      <tr>
        <td>
          @Html.LabelFor(m => m.ConfirmPassword)
        </td>
        <td>
          @Html.EditorFor(m => m.ConfirmPassword)
        </td>
      </tr>
    </table>
    <input id="changePasswordFormSubmit" type="submit" value="Change password" />
  }
  
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/cryptojs")

<script type="text/javascript">

  var allowSubmit = true;

  $(document).ready(function() {

    $("#changePasswordFormSubmit").click(function() {
      var pwdOld = $("#OldPassword").val();
      $("#OldPassword").prop("name", "OldPasswordInp");

      var dummy = "";
      $("#OldPassword").val("");
      for (var i = 0; i < pwdOld.length; i++) {
        dummy += "*";
      }
      $("#OldPassword").val(dummy);

      var pwd = $("#NewPassword").val();
      $("#NewPassword").prop("name", "NewPasswordInp");

      dummy = "";
      $("#NewPassword").val("");
      for (var i = 0; i < pwd.length; i++) {
        dummy += "*";
      }
      $("#NewPassword").val(dummy);

      var pwdRepeat = $("#ConfirmPassword").val();
      $("#ConfirmPassword").prop("name", "ConfirmPasswordInp");

      dummy = "";
      $("#ConfirmPassword").val("");
      for (var i = 0; i < pwdRepeat.length; i++) {
        dummy += "*";
      }
      $("#ConfirmPassword").val(dummy);

      var oldPwdInp = $("<input type='hidden' name='OldPassword' />");
      $("#changePasswordForm").append(oldPwdInp);
      $(oldPwdInp).val(CryptoJS.SHA256(pwdOld));

      var pwdInp = $("<input type='hidden' name='NewPassword' />");
      $("#changePasswordForm").append(pwdInp);
      $(pwdInp).val(CryptoJS.SHA256(pwd));

      var pwdRepeatInp = $("<input type='hidden' name='ConfirmPassword' />");
      $("#changePasswordForm").append(pwdRepeatInp);
      $(pwdRepeatInp).val(CryptoJS.SHA256(pwdRepeat));

      return true;
    });

  });
</script>