@model GhostHuntAR.Infrastructure.Models.GHLocation

<h3>Title</h3>
@Html.DisplayFor(l => l.Title)
                
<br />
<br />
                
<h3>Address Line</h3>
@Html.DisplayFor(l => l.AddressLine)
                
<br />
<br />
                
<h3>City</h3>
@Html.DisplayFor(l => l.City)
                
<br />
<br />
                
<h3>State</h3>
@Html.DisplayFor(l => l.State)
                
<br />
<br />
                
<h3>Zip/PostalCode</h3>
@Html.DisplayFor(l => l.ZipPostalCode)
                
<br />
<br />
                
<h3>Latitude</h3>
@Html.DisplayFor(l => l.Latitude)
                
<br />
<br />
                
<h3>Longitude</h3>
@Html.DisplayFor(l => l.Longitude)